* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@media only screen and (min-width: 500px) {
  .container {
    width: 480px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    width: 740px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 940px;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (min-width: 800px) {
  main {
    display: flex;
  }

  article {
    width: 66.666%;
  }

  aside {
    width: 33.3333%;
  }
}
