
*  {
box-sizing: border-box;
margin: 0;
padding: 0;
}

header, article {
  padding: 30px 20px;
}
:root {
  --colorheader: #2d3142;
  --colorarticle: #d8d5db;
  --coloraside: #acb5;
  --colorfooter: #2d3142;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  background: var(--colorheader);
  height: 100px;
  display: flex;
  align-items: center;
}

article {
  background-color: var(--colorarticle);
  height: 600px;
  display: flex;
  align-items: center;
  display: block;
}

aside {
  background-color: var(--coloraside);
  height: 600px;
  display: flex;
  display: block;
}

footer {
  background: var(--colorfooter);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
}

h1 {
  color: white;
}

.container {
  display: flex;
  width: 100%;
}

.containerA {
/*flex-grow: 2;*/
width: 67%;
}

.containerB {
  /*flex-grow: 1;*/
  width: 33%;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

li {
  padding-bottom: 10px;
}

li:last-child {
  padding-bottom: 0px;
}

p {
  padding-top: 25px;
}

.footer p {
  padding: 0px;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 480px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    width: 740px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 940px;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (min-width: 800px) {
  main {
    display: flex;
  }

  article {
    width: 66.666%;
  }

  aside {
    width: 33.3333%;
  }
